$base-font-family: "Cascadia Mono", sans-serif;
$code-font-family: "Cascadia Code", sans-serif;

$text-color: #CDCBC6;
$background-color: #222222;
$heading-color: #8C3B1B;

$brand-color: #715550;

$link-base-color: #8C3B1B;
$link-visited-color: #8C3B1B;
$link-hover-color: #A97E53;

//$border-color-01: #715550;
//$border-color-02: #715550;
$border-color-03: #252627;

$code-background-color: #252627;
